/tmp
/auto*
/server
/url
/var
*~
*#
_*
*.db
*.elc
*.bak
*.log
*.aux
*.out
*.exa
*.ilg
*.idx
*.ind
*.lof
*.lot
*.toc
*.bbl
*.blg
*.glo
*.gls
*.brf
ctextemp_*
*.backup
*history*
ac-comphist.dat
anything-c-adaptive-history
_region_*
*.orgx
*.cache
*.ADAPT
*.asv
*loaddefs*
bookmarks
/emms
/elpa
/emacswiki
