[submodule "lisps/anything-config"]
	path = lisps/anything-config
	url = git://repo.or.cz/anything-config.git
[submodule "lisps/fuzzy-el"]
	path = lisps/fuzzy-el
	url = https://github.com/m2ym/fuzzy-el.git
[submodule "lisps/org2blog"]
	path = lisps/org2blog
	url = https://github.com/punchagan/org2blog.git
[submodule "lisps/command-log-mode"]
	path = lisps/command-log-mode
	url = https://github.com/lewang/command-log-mode.git
[submodule "lisps/google-weather"]
	path = lisps/google-weather
	url = https://github.com/emacsmirror/google-weather.git
[submodule "lisps/org-html5presentation"]
	path = lisps/org-html5presentation
	url = git://gist.github.com/509761.git
